.thankUSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  text-align: center;
  background-color: #f9f9f9;
  padding: 20px;
}

.thankUSection h2 {
  color: #333;
  font-size: 24pt;
  margin-bottom: 15px;
}

.thankUSection p {
  color: #555;
  font-size: 14pt;
  margin-bottom: 25px;
}

.thankUSection a {
  text-decoration: none;
  color: #333;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 25px;
}

.thankUImage {
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}
