.compradoresLista {
  width: 100%;
  background-color: #f0f0f0;
  padding-block: 25px;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.compradoresLista h2 {
  text-align: center;
  padding-bottom: 15px;
}

.compradoresLista p {
  text-align: center;
  padding-bottom: 15px;
}

.textos h3 {
  text-align: center;
  padding-bottom: 15px;
  color: #333;
  font-size: 14pt;
  font-weight: bold;
}

.textos p {
  text-align: center;
  padding-bottom: 15px;
  color: #555;
  font-size: 12pt;
}
