.termoSection {
  background-color: #f0f0f0;
  padding: 20px;
  width: 100%;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.termoSection h2 {
  text-align: center;
  padding-bottom: 15px;
}

.termoSection h3 {
  font-size: larger;
  text-align: center;
  padding-bottom: 15px;
}

.botoesTermo {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.paginacao {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.uploadContainer {
  width: 100%;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .termoSection {
    height: auto;
    padding: 10px;
  }
}
