.dadosForm {
  background-color: #f0f0f0;
  padding: 50px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.dadosForm h2 {
  text-align: center;
  padding-bottom: 15px;
}

.dadosForm p {
  text-align: center;
  padding-bottom: 15px;
}

.form {
  max-width: 900px;
}

.btnEnviar {
  margin-block: 25px;
}

.paginacao {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
