.loginSection {
  background-image: url("../../assets/mineracao-de-brita.jpeg");
  background-color: #00000095;
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.loginCard {
  background-color: #f0f0f0;
  padding: 30px 30px;
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 125px;
  height: auto;
  margin-block: 25px;
}
