.estoqueSection {
  background-color: #f0f0f0;
  padding: 50px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.estoqueSection h2 {
  text-align: center;
  padding-bottom: 15px;
}

.estoqueSection h3 {
  text-align: center;
  padding-bottom: 15px;
}

.novoDropdown {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 15px;
}

.select {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
}

.quantidade {
  text-align: center;
  padding-bottom: 15px;
}

@media (max-width: 480px) {
  .estoqueSection {
    height: 70vh;
  }
}
