.custodaLavraSection {
  background-color: #f0f0f0;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.custodaLavraSection h2 {
  text-align: center;
  padding-block: 15px;
}

.custodaLavraSection p {
  text-align: center;
  padding-bottom: 15px;
}

.custodaLavraTable {
  background-color: white;
}
