.detonadoBritadoSection {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding-block: 25px;
}

.novoDropdown {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 15px;
}

.select {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
}
