.substanciaOptions {
  background-color: #f0f0f0;
  padding: 50px 50px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.substanciaOptions h2 {
  text-align: center;
  padding-bottom: 15px;
}

.substanciaOptions p {
  text-align: center;
  padding-bottom: 15px;
}

.paginacao {
  text-align: center;
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: bottom;
}

.novoDropdown {
  margin-top: 25px;
  text-align: center;
}

.select {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
}
