.paginacao {
  text-align: center;
  margin-block: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: bottom;
}

.bordasLaterais {
  border-color: rgb(59, 59, 59);
  border-left-width: 2px;
  border-right-width: 2px;
  border-style: solid;
}
