.finalizar {
  width: 100%;
  padding: 20px;
  gap: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-color: #f5f5f5;
}

.finalizar h2 {
  text-align: center;
  padding-bottom: 15px;
}

.finalizar p {
  text-align: center;
  padding-bottom: 15px;
}

.containerCheckbox {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-block: 20px;
}
